body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    color: #000000; 
    background-color: gray;
  }
  
  .topics {
    padding-top: 4rem;
    margin: 2rem;
  }
  
  .nav-link {
    color: black;
  }
  
  .nav-link:hover {
    color: lightgreen;
    align-items: baseline;
  }

 .more-text{
    display: none;
 }

 .read-more-btn{
    padding: 15px;
    border: none;
    cursor: pointer;
 }

 .text.show-more .more-text{
    display: inline;
 }

 .more-text2 {
    display: none;
 }

 .read-more-btn2{
    padding: 15px;
    border: none;
    cursor: pointer;
 }

 .text2.show-more2 .more-text2{
    display: inline;
 }


